<header>
	<nav id="snow">
        <div class="home">
            <button class="dropbtn">My Page</button>
            <div class="dropbtn-content">
                <a href="/">Home</a>
                <a href="/game">Search Game</a>
                {{#if user}}
                    <a href="/group">New Group</a>
                    <a href="/listGroup">List Of Group</a>
                    <a href="/logout">Logout</a>
                {{else}}
                    <a href="/login">Login</a>
                {{/if}}
            </div>
        </div>
        <div class="search_game">
            <form action="/game" method="GET">
                <input type="text" placeholder="Search Game Name" name="gameName">
                <input type="submit" value="Search">
            </form>
        </div>
	</nav>
</header>