<div class="search">
	<h1>Find Game</h1>

	<form action="/game" method="GET">
		<p><label for="gameName">Game Name: </label>
		<input type="text" id="gameName" name="gameName"></p>
		<p><input type="submit" value="Search"></p>
	</form>

	{{#if err}}
		<h2>Game - No Game Found</h2>
		{{#if cause}}
			<h3>Cause: {{cause}}</h3>
		{{/if}}
	{{else}}
		{{#if games}}
			<h1>Game</h1>

			<table>
			<tr>
				<th width="20%">Name</th>
				<th>Description</th>
				<th>Total Rating</th>
			</tr>

		{{#tableGroupButton games groups}}{{/tableGroupButton}}
		
			</table>
		{{/if}}
	{{/if}}
</div>