
<div class="Popular_Games">
	<h1>Top 50 - Most Popular Games</h1>
			<h3 style="color:red">{{addGame}}</h3>

	{{#if errPopular}}
		<h2>Game - No Game Found</h2>
		{{#if causePopular}}
			<h2>Cause: {{cause}}</h2>
		{{/if}}
	{{else}}
	<table>
		<tr>
		<th width="20%">Name</th>
		<th>Description</th>
		<th>Total Rating</th>
		</tr>
		{{#tableGroupButton games groups}}{{/tableGroupButton}}
		
	</table>
	{{/if}}
</div>