<!DOCTYPE html>
<html>
{{> style}}
<head>
	<meta charset='utf-8'>
	<title>Items</title>
</head>

<body>
	{{> header}}
	<div class="myBody"></div>
		{{{body}}}
	</div>
	{{> script}}
	
</body>

</html>  