<!DOCTYPE html>
<html>
{{> style}}

<head>
	<meta charset='utf-8'>
	<title>Items</title>
	<link rel="stylesheet" href="mystyle.css">
</head>

<body>
	<nav>
		<a href="/">Home</a> |
		<a href="/game">Search Game</a> |
		<a href="/newGroup">New Group</a> |
		<a href="/editGroup">Edit Group</a> |
		<a href="/list">List Of Group</a> |
		<a href="/group">Specific Group</a> |
	</nav>
	<hr>
	
		{{{body}}}

</body>

</html>